@using Microsoft.AspNetCore.Components.Web
@using BlazorInjectBindModelApp.Models


@page "/person"


@rendermode RenderMode.InteractiveServer

<h3>Person</h3>
<form>
    <div>
        <label>Name:</label><br />
        <input type="text" @bind-value="person.Name" />
    </div>
    <div>
        <label>Age:</label><br />
        <input type="number" @bind-value="person.Age" />
    </div>
    <div>
        <button @onclick="SendForm">Send</button>
    </div>
</form>

<div>
    <p>Name: @person.Name</p>
    <p>Age: @person.Age</p>
</div>

@code {
    public Person person = new();

    void SendForm() => Console.WriteLine($"{person.Name} {person.Age}");
}
