@inherits LayoutComponentBase

<div>
    <a href="/">Home Site</a> | <a href="/admin/home">Home</a> | <a href="/admin/about">About</a> | <a href="/admin/settings">Settings</a>
</div>

<h3>Admin Layout</h3>

@Body

@code {

}
